


<div class="navbar-area" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied">
            <a class="navbar-brand" routerLink="/"><img src="assets/img/kohort.jpg" alt="logo"></a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <form class="search-box">
                    <input type="text" class="input-search" placeholder="Search for anything">
                    <button type="submit"><i class="flaticon-search"></i></button>
                </form> -->
                <ul class="navbar-nav">
                      <li class="nav-item"><a routerLink="meetups" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Meetups</a></li>
                      <li class="nav-item"><a routerLink="about-3" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Mentors</a></li>
                </ul>
                <ul class="navbar-nav for-responsive">
                  <li class="nav-item"><a routerLink="meetups" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Meetups</a></li>
                  <li class="nav-item"><a routerLink="about-3" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Mentors</a></li>


                </ul>
            </div>
            <!-- <div class="others-option d-flex align-items-center">
                <div class="option-item">
                    <div class="cart-btn">
                        <a routerLink="/cart"><i class='flaticon-shopping-cart'></i><span>3</span></a>
                    </div>
                </div>
                <div class="option-item">
                    <a routerLink="/profile-authentication" class="default-btn"><i class="flaticon-user"></i>Login/Register<span></span></a>
                </div>
            </div> -->
        </nav>
    </div>
</div>
