<div class="courses-area ptb-100 " style="background: #F0F3FF;">
    <div class="container">

      <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <img _ngcontent-cjr-c74="" src="../assets/img/kohort22.png" alt="image">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
    <img _ngcontent-cjr-c74="" src="../assets/img/kohort22.png" alt="image">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-content">
                    <h1>Study Abroad </h1>
                    <h6>Join specialized mentoring sessions </h6>
                </div>
            </div>
        </div>

        <div class="row align-items-center" >
            <div class="col-lg-4 col-md-12">

              <label class="label" for="">Continent/Country </label>
                <form class="search-box">
                    <input type="text" class="input-search" placeholder="Search for anything" (input) ="getValue($event)" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}">
                    <!-- <button type="submit"><i class="flaticon-search"></i></button> -->
                </form>
            </div>

            <div class="col-lg-4 col-md-12">
                <label for=""></label>
                  <div class="search-box">
                      <button _ngcontent-xtx-c146="" type="submit"  (click)="getValue($event)">
                          <!-- <i class="fa fa-refresh fa-spin" ></i> -->
                        Explore
                      </button>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top:30px;">
            <div class="col-lg-4 col-md-12" *ngFor="let meetup of studiesList2  " style="padding-bottom: 30px">
                <div class="card">
                    <div class="card-title-hdr">
                      <img  src="../assets/img/kohort-calw.svg" alt="image" >
                        <div class="card-timing">
                           {{ readableDateFormat(meetup.startDate) }} to {{ readableDateFormat(meetup.endDate) }}
                          <!-- Sept 24, 2021 to March 2022 -->
                        </div>
                        <img  src="../assets/img/kohort-likew.svg" alt="image" style="float: right;">
                    </div>
                    <div class="card-body">
                        <div class="courses-content">
                            <!-- <a routerLink="/" class="fav"><i class="flaticon-calendar"></i></a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                            <h5>{{meetup.code}}</h5>
                            <h4>{{ meetup.description }}</h4>
                        </div>
                        <a routerLink="/" style="float: left;">Join now </a>

                        <a routerLink="/" style="float: right;">learn More </a>
                    </div>
                </div>
            </div>
        </div>




        <!--

            <div class="col-lg-12 col-md-12">
                <div class="courses-info">
                    <a routerLink="/courses-1" class="default-btn"><i class="flaticon-user"></i>View All Courses<span></span></a>
                    <p>Get into details now?​ <a routerLink="/courses-1">PM Master’s Program</a></p>
                </div>
            </div> -->
    </div>
</div>
<!-- <div class="shape16"><img src="assets/img/shape15.png" alt="image"></div> -->
