<div class="courses-area ptb-100 " style="background: #F0F3FF;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="banner-wrapper-content">
                    <h1>Study Abroad </h1>
                    <h6>Get honest advice from experts whose been there & done that. </h6>
                </div>
            </div>
        </div>

        <div class="row align-items-center" style="margin-top:20px;">
            <div class="col-lg-4 col-md-12">

              <label class="label" for="">Continent/Country </label>
                <form class="search-box">
                    <input type="text" class="input-search" placeholder="Search for anything"  [(ngModel)]="selectedValue" placeholder="Country name" (keyup)="filterCountryList()" [ngModelOptions]="{standalone: true}">
                    <ul *ngIf="filteredResult.length>0">
                        <li *ngFor="let c of filteredResult" (click)="selectCountry(c.name)">
                            <span>{{c.name}}</span>
                        </li>
                    </ul>
                    <!-- <button type="submit"><i class="flaticon-search"></i></button> -->
                </form>
            </div>

            <div class="col-lg-4 col-md-12" >
                <label for=""></label>
                  <div class="search-box">
                      <button _ngcontent-xtx-c146="" type="submit"  (click)="getValue()">
                          <!-- <i class="fa fa-refresh fa-spin" ></i> -->
                        Explore
                      </button>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top:50px;">
            <div class="col-lg-4 col-md-12" *ngFor="let meetup of studiesList2 | slice:0:show; let i=index " style="padding-bottom: 30px">
                <div class="card">
                    <div class="card-title-hdr">
                      <img  src="../assets/img/kohort-calw.svg" alt="image" >
                        <div class="card-timing">
                           {{ readableDateFormat(meetup.startDate) }} to {{ readableDateFormat(meetup.endDate) }}
                          <!-- Sept 24, 2021 to March 2022 -->
                        </div>
                        <img  src="../assets/img/kohort-likew.svg" alt="image" style="float: right;">
                    </div>
                    <div class="card-body">
                        <div class="courses-content">
                            <!-- <a routerLink="/" class="fav"><i class="flaticon-calendar"></i></a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                            <h5>{{meetup.code}}</h5>
                            <h4>{{ meetup.description }}</h4>
                        </div>
                        <a routerLink="/" style="float: left;">Join now </a>

                        <a routerLink="/" style="float: right;">learn More </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="explore">
            <a style="cursor: pointer;" *ngIf="show < studiesList2.length" (click)="increaseShow()">Explore Mentors</a>
        </div>
    </div>
</div>
<!-- <div class="shape16"><img src="assets/img/shape15.png" alt="image"></div> -->
