.get-instant-courses-inner-area {
    position: relative;
    z-index: 1;
    background-color: #f9f9f9;
    border-radius: 5px;

    .row {
        margin: {
            left: 0;
            right: 0;
        };

        .col-lg-4,
        .col-lg-8 {
            padding: {
                left: 0;
                right: 0;
            };
        }
    }
}


.get-instant-courses-content {
    padding: {
        left: 70px;
        right: 70px;
        top: 70px;
        bottom: 30px;
    };

    .sub-title {
        display: block;
        text-transform: uppercase;
        color: var(--mainColor);
        margin-bottom: 10px;
        font: {
            size: 14px;
            weight: 600;
        };
    }

    h2 {
        margin: {
            bottom: 12px;
        };
        font: {
            size: 36px;
            weight: 800;
        };
    }

    .default-btn {
        margin-top: 5px;
    }
}

.get-instant-courses-image {
    position: relative;
    z-index: 1;
    border-radius: 0 5px 5px 0;

    img {
        border-radius: 0 5px 5px 0;
    }
}

.get-instant-courses-area-two {
    // height: 460.46px;
    background: #4264FB;
    position: relative;
    // z-index: 1;
    // height: 396.54px;
    background: #F0F3FF;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 25px;
        z-index: -1;
        background-color: var(--whiteColor);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 21px;
        z-index: -1;
        background-color: var(--whiteColor);
    }

    .bulb {
        left: 20px;
        width: 180px;
        bottom: 21px;
    }
}

.get-instant-courses-content-style-two {
    .sub-title {
        display: block;
        color: var(--mainColor);
        margin-bottom: 10px;
        text-transform: uppercase;
        font: {
            size: 14px;
            weight: 600;
        };
    }

    h1 {
    //    width: 699.35px;
        height: 132px;
        left: 190.65px;
        top: 163.74px;
        font-family: Gosha Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 120%;
        color: #4264FB;
        color: var(--mainColor);
        font: {
            // size: 36px;
            // weight: 800;
        };
    }
    h2 {
        // width: 699.35px;
        height: 132px;
        left: 190.65px;
        top: 163.74px;
        font-family: Gosha Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 120%;
        color: #4264FB;
        color: var(--mainColor);
        font: {
            // size: 36px;
            // weight: 800;
        };
    }

    p {
        // width: 580px;
        height: 66.74px;
        // left: 190.29px;
        // top: 3073.98px;
        font-family: Silka;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        color: var(--mainColor);
        max-width: 620px;
        line-height: 1.8;
    }

    .default-btn {
        // margin-top: 5px;
        background: #4264FB;
        margin-top: 75px;
        background: #4264FB;
        border-radius: 0;
        height: 60px;
        width: 340px;
        left: 0;
        top: 0;
        padding-left: 55px;
    padding-right: 65px;
    padding-top: 19px;
    padding-bottom: 11px
    }
}

.get-instant-courses-image-style-two {
    // text-align: end;
    background: #4264FB;
    height: 395.9015197753906px;
    // width: 275px;
    p {
        // width: 104px;
        height: 27px;
        left: 966.55px;
        top: 184.74px;
        font-family: Gosha Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #FFFFFF;
        padding-top: 50.21px;
        margin-left: 25.23px;
    }

    i {
        margin-right: 10px;
    }


}

.default-btn {
    // margin-top: 5px;
    background: #4264FB;

    background: #4264FB;
    border-radius: 0;
    height: 60px;
    width: 340px;
    left: 0;
    top: 0;
    padding-left: 55px;
padding-right: 65px;
padding-top: 19px;
padding-bottom: 11px
}

.slogan p {
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #222222;
}

// .events-share {
//     // text-align: center;
//     // margin-top: 25px;
//     margin-right: 25px;
//     float: right;
//
//     .share-info {
//         display: inline-block;
//         margin-top: 75px;
//         // position: relative;
//         cursor: pointer;
//
//         span {
//             font-family: Silka;
//             font-style: normal;
//             font-weight: normal;
//             font-size: 13px;
//             line-height: 124%;
//             /* identical to box height, or 16px */
//             color: #333333;
//             // color: var(--mainColor);
//             color: #333333;
//             line-height: 1;
//             // font: {
//             //     size: var(--fontSize);
//             //     weight: 700;
//             // };
//             i {
//                 color: var(--blackColor);
//             }
//         }
//
//         .social-link {
//
//             padding-left: 0;
//             list-style-type: none;
//             margin: {
//                 bottom: 0;
//                 top: 10px;
//             };
//
//             li {
//                 display: inline-block;
//                 margin: {
//                     left: 3px;
//                     right: 3px;
//                 };
//
//                 &:last-child {
//                     margin-right: 0;
//                 }
//
//                 &:first-child {
//                     margin-left: 0;
//                 }
//
//                 a {
//                     width: 20px;
//                     height: 20px;
//                     text-align: center;
//                     // background-color: #e1e1e1;
//                     font-size: 18px;
//                     color: var(--blackColor);
//                     position: relative;
//                     border-radius: 2px;
//
//                     i {
//                         position: absolute;
//                         left: 0;
//                         top: 50%;
//                         right: 0;
//                         transform: translateY(-48%);
//                     }
//                     // &:hover {
//                     //     background-color: var(--mainColor);
//                     //     color: var(--whiteColor);
//                     // }
//                 }
//             }
//         }
//     }
// }


// .events-share .share-info .social-link li[_ngcontent-yte-c87] {
//   .social-link {
//       // padding-left: 0;
//       // list-style-type: none;
//       margin: {
//           // top: 20px;
//           // bottom: 0;
//       };
//       li {
//           // display: inline-block;
//           margin-right: 3px;
//           // padding-left: 40px;
//           width: 337.29px;
//           // height: 100.31px;
//           left: 912.71px;
//           top: 337.37px;
//           font-family: Silka;
//           font-style: normal;
//           font-weight: normal;
//           font-size: 16px;
//           line-height: 150%;
//           color: #222222;
//
//           &:last-child {
//               margin-right: 0;
//           }
//           a {
//               width: 30px;
//               height: 30px;
//               text-align: center;
//               background-color: #e1e1e1;
//               font-size: 18px;
//               color: var(--blackColor);
//               position: relative;
//               border-radius: 2px;
//
//               i {
//                   position: absolute;
//                   left: 0;
//                   top: 50%;
//                   right: 0;
//                   transform: translateY(-48%);
//               }
//               // &:hover {
//               //     background-color: var(--mainColor);
//               //     color: var(--whiteColor);
//               // }
//           }
//       }
//   }
// }
.events-share2 {
    // text-align: center;
    // margin-top: 25px;
    margin-right: 25px;


    .share-info2 {
        display: inline-block;
        // margin-top: 75px;
        // position: relative;
        cursor: pointer;

        span {
            font-family: Silka;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 124%;
            /* identical to box height, or 16px */
            color: #333333;
            // color: var(--mainColor);
            color: #333333;
            line-height: 1;
            // font: {
            //     size: var(--fontSize);
            //     weight: 700;
            // };
            i {
                color: var(--blackColor);
            }
        }

        .social-link2 {
            padding-left: 0;
            list-style-type: none;
            margin: {
                bottom: 0;
                top: 10px;
            };

            li {
                display: inline-block;
                margin: {
                    left: 10px;
                    right: 10px;
                };

                &:last-child {
                    margin-right: 0;
                }

                &:first-child {
                    margin-left: 0;
                }

                a {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    // background-color: #e1e1e1;
                    font-size: 18px;
                    color: var(--blackColor);
                    position: relative;
                    border-radius: 2px;

                    i {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        right: 0;
                        transform: translateY(-48%);
                    }
                    // &:hover {
                    //     background-color: var(--mainColor);
                    //     color: var(--whiteColor);
                    // }
                }
            }
        }
    }
}

.events-share3 {
    // text-align: center;
    // margin-top: 25px;
    margin-right: 25px;
    text-align: end;


    .share-info3 {
        display: inline-block;
        // margin-top: 75px;
        // position: relative;
        cursor: pointer;

        span {
            font-family: Silka;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 124%;
            /* identical to box height, or 16px */
            color: #333333;
            // color: var(--mainColor);
            color: #333333;
            line-height: 1;
            // font: {
            //     size: var(--fontSize);
            //     weight: 700;
            // };
            i {
                color: var(--blackColor);
            }
        }

        .social-link3 {
            padding-left: 0;
            list-style-type: none;
            margin: {
                bottom: 0;
                top: 10px;
            };

            li {
                display: inline-block;
                margin: {
                    left: 10px;
                    right: 10px;
                };

                &:last-child {
                    margin-right: 0;
                }

                &:first-child {
                    margin-left: 0;
                }

                a {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    // background-color: #e1e1e1;
                    font-size: 18px;
                    color: var(--blackColor);
                    position: relative;
                    border-radius: 2px;

                    i {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        right: 0;
                        transform: translateY(-48%);
                    }
                    // &:hover {
                    //     background-color: var(--mainColor);
                    //     color: var(--whiteColor);
                    // }
                }
            }
        }
    }
}

.meetups-li ul{
list-style: none;
}

.meetups-li ul li::before {
content: "\2022";
color: #4264FB;
font-weight: bold;
display: inline-block;
width: 1em;
margin-left: -1em;
font-size: 20px;
}

.meetups-li li{
  font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
margin-top: 20px;
/* identical to box height, or 30px */


/* main/primary */

color: #4264FB;
}

@media (min-width: 1200px) {

h6{
    font-family: Silka;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    margin-top: 125px;
    color: #333333;
}
}
@media only screen and (max-width: 767px) {
    .get-instant-courses-content {
        padding: {
            left: 20px;
            right: 20px;
            top: 30px;
            bottom: 30px;
        };

        .sub-title {
            font-size: 13px;
        }

        h2 {
            font-size: 25px;
        }
    }

    .get-instant-courses-area-two {
        padding: {
            top: 60px;
            bottom: 60px;
        };

        &::after,
        &::before {
            display: none;
        }
    }

    .get-instant-courses-content-style-two {
        // text-align: center;
        .sub-title {
            font-size: 13px;
        }

        h2 {
            font-size: 25px;
        }
    }

    .get-instant-courses-image-style-two {
        margin-top: 30px;
        text-align: center;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .get-instant-courses-content {
        text-align: center;
        padding: 40px;

        .sub-title {
            font-size: 13.5px;
        }

        h2 {
            font-size: 30px;
        }
    }

    .get-instant-courses-area-two {
        padding: {
            top: 80px;
            bottom: 80px;
        };

        &::after,
        &::before {
            display: none;
        }
    }

    .get-instant-courses-content-style-two {
        text-align: center;

        .sub-title {
            font-size: 13.5px;
        }

        h2 {
            font-size: 30px;
        }
    }

    .get-instant-courses-image-style-two {
        margin-top: 30px;
        text-align: center;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .get-instant-courses-content {
        padding: 30px;

        h2 {
            font-size: 30px;
        }
    }

    .get-instant-courses-content-style-two {
        h2 {
            font-size: 45px;
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}
@media only screen and (min-width: 1550px) {
    .get-instant-courses-area-two {
        .bulb {
            width: auto;
        }
    }
}

h3 {
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    color: #151B24;
}

h4 {
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 20px;
    /* identical to box height, or 50px */
    .d-img img {
        width: 25px;
        height: 25px;
    }
    /* main/tertiary */
    color: #151B24;
}
///// App -slogan css

// h6 {
//     font-family: Silka;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 18px;
//     line-height: 150%;
//     /* or 30px */
//     margin-top: 75px;
//     color: #333333;
// }

.slogan-area {
    position: relative;
    z-index: 1;
    // margin-top: 50px;
    .shape2 {
        left: 9%;
        bottom: -20%;
    }

    .shape9 {
        left: 8%;
        bottom: auto;
        top: 20%;
    }
}

.slogan-image {
    padding-right: 15px;
    border-radius: 5px;
    // text-align: center;
    // margin-top: -90px;
    margin: {
        // top: -200px;
        // bottom: -200px;
    };

    h3 {
        font-family: Gosha Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 125%;
        color: #4264FB;
    }

    img {
        // border-radius: 5px;
        // width: 100%;
        width: 160px;
        height: 239.33px;
    }
}

ul {
    padding-left: 1rem;
}

.slogan-content {
    position: relative;
    z-index: 1;
    // padding-left: 30px;
    margin: -160px 0 0 -195px;

    p {
        // margin-left: 100px;
        font-family: Silka;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        color: #222222;
        font: {
            size: 20px;
            weight: 600;
        };
    }

    h3 {
        margin: {
            top: 20px;
            bottom: 0;
        };
        font: {
            size: 20px;
            weight: 800;
        };
    }

    span {
        display: block;
        color: var(--mainColor);
        font-size: 15px;
        margin-top: 7px;
    }

    &::before {
        content: "\f10a";
        position: absolute;
        right: 30px;
        color: #e8e8e8;
        z-index: -1;
        top: -50px;
        line-height: 1;
        opacity: 0.5;
        font: {
            family: Flaticon;
            size: 200px;
        };
    }
}

p {
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #222222;
}

.get-instant-courses h2 {
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    color: #151B24;
    margin-bottom: 20px;
}

.get-instant-courses p {
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #222222;
}

.courses-area-contentTwo h2 {
    /* Desktop/Headline2 */
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%; /* identical to box height, or 50px */
    text-align: center; /* main/primary */
    margin-bottom: 50px;
    color: #4264FB;
}

.courses-area-contentTwo h4 {
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 135%;
    /* identical to box height, or 41px */
    text-align: center;
    margin-top: 20px;
    /* main/tertiary */
    color: #151B24;
}

.courses-area-contentTwo p {
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #151B24;
    text-align: left;
}

.courses-area-contentTwo {
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .slogan-image {
        padding-right: 0;
        margin: {
            top: 0;
            bottom: 30px;
        };
    }

    .slogan-content {
        padding-left: 0;
        text-align: center;

        p {
            font-size: 17px;
        }

        h3 {
            font-size: 18px;
        }

        span {
            font-size: 14px;
            margin-top: 6px;
        }

        &::before {
            right: 0;
            left: 0;
            top: 0;
            font-size: 160px;
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slogan-image {
        padding-right: 0;
        margin: {
            top: 0;
            bottom: 30px;
        };
    }

    .slogan-content {
        padding-left: 0;
        text-align: center;

        p {
            font-size: 18px;
        }

        h3 {
            font-size: 20px;
        }

        span {
            font-size: 14px;
        }

        &::before {
            right: 0;
            left: 0;
            top: 0;
            font-size: 160px;
        }
    }

    h6 {
        font-family: Silka;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        /* or 30px */
        margin-top: 75px;
        color: #333333;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slogan-area {
        .divider2,
        .divider3 {
            display: none;
        }
    }

    .slogan-image {
        padding-right: 0;
        margin: {
            top: 0;
            bottom: 0;
        };
    }

    h6 {
        font-family: Silka;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%; /* or 30px */
        margin-top: 35px;
        // margin-top: 75px;
        color: #333333;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
    .slogan-area {
        .shape3 {
            display: none;
        }
    }

    h6 {
        font-family: Silka;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        /* or 30px */
        margin-top: 75px;
        color: #333333;
    }
}
