<div class="about-area ptb-100 ">
    <div class="container">
        <div class="experience-content">
            <h2>Become a <span style="color:#4264FB">Kohort</span> </h2>
            <h2>Student Ambassador</h2>
        </div>
    </div>
    <!-- <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div> -->
</div>

<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="experience-img">
                    <!-- <span>  <img src="../assets/img/SVG 1.png" alt="image"></span> -->
                    <img src="../assets/img/about1.png" alt="image">
                    <!-- <span class="title"><span>15</span> Years of Experience</span> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="experience-content" style="margin-bottom:300px">

                    <img src="../assets/img/about11.png" alt="image">

                </div>
            </div>
        </div>
    </div>

</div>



<div class="about-area ptb-100" style="background: #F0F3FF;">
    <div class="container">
        <div class="experience-content1">
            <h4>Kohort works towards transforming lives in meaningful ways!</h4>
            <p>As a Student Ambassador of Kohort, you will be among the first students to create the product, brand, and community. Your emphasis will be either on your college or on the entire area, depending on your talents, expertise, experience,
                and availability.</p>
              <p>  While embracing a development mentality, the student ambassador programme will empower, strengthen, and groom you to obtain important professional experiences, build skills, and be a brand champion.</p>
        </div>

    </div>
</div>
<div class="experience-area ptb-100 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="experience-img">
                    <img src="../assets/img/about2.png" alt="image">
                    <!-- <span class="title"><span>15</span> Years of Experience</span> -->
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <h4>8 Good reasons to become a part of the Kohort Community:</h4>
                    <ul>
                        <li>Establish connections and network across the global community </li>
                        <li>Interact with top entrepreneurs, mentors, and influencers</li>
                        <li> Learn about real-world marketing, social media and tech from the best in the industry</li>
                        <li>Get exciting rewards, potential monthly stipend and merchandise </li>
                        <li>Make an impact in the field of Education</li>
                        <li>Upskill & grow yourself along with upgrading your profile</li>
                        <li>Be the voice of change in your Institution</li>
                        <li>Exclusive access to Kohort platform</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="experience-area ptb-100 " style="background: #F0F3FF;">
    <div class="container">
        <div class="row align-items-center">
            <h3>The Responsibilities:</h3>
            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <h4>Digital marketing and operations</h4>
                    <ul>
                        <li>Establish connections and network across the global community </li>
                        <li>Interact with top entrepreneurs, mentors, and influencers</li>
                        <li> Learn about real-world marketing, social media and tech from the best in the industry</li>
                        <li>Get exciting rewards, potential monthly stipend and merchandise </li>
                    </ul>
                </div>
                <div class="about-content">
                    <h4>Design and Content</h4>
                    <ul>
                        <li>Establish connections and network across the global community </li>
                        <li>Interact with top entrepreneurs, mentors, and influencers</li>
                        <li> Learn about real-world marketing, social media and tech from the best in the industry</li>
                        <li>Get exciting rewards, potential monthly stipend and merchandise </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-5 col-md-12">
                <div class="experience-img">
                    <img src="../assets/img/about3.png" alt="image">
                    <!-- <span class="title"><span>15</span> Years of Experience</span> -->
                </div>
            </div>


        </div>
    </div>

</div>

<div class="experience-area ptb-100 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12" style="text-align: center;">
                <div class="experience-img">
                    <img src="../assets/img/about4.png" alt="image">
                    <!-- <span class="title"><span>15</span> Years of Experience</span> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content2">
                    <h4>What do we look for?:</h4>
                    <ul>
                        <li>  Excellent communication skills </li>
                        <li>    Energetic and positive personality </li>
                        <li>  Highly approachable and social  </li>
                        <li>    Creative mindset and an entrepreneurial spirit</li>

                    </ul>
                </div>
            </div>
            <div class="about">
  <h5>Are  You  <span>Ready ?</span> </h5>
<p>Being a Student Ambassador will not only challenge you professionally, but it will also upskill you while having fun! </p>
<p>This position allows you to step up your talents in innovative ways leading to exciting future careers- maybe even at Kohort</p>
<div class="single-courses-box">
  <button _ngcontent-xtx-c146="" type="submit" >Get Started</button>
</div>
</div>
        </div>
    </div>
</div>

<div class="experience-area ptb-100 " style="background:#ECECEC">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="experience-img">
                    <img src="../assets/img/about5.png" alt="image">
                    <!-- <span class="title"><span>15</span> Years of Experience</span> -->
                </div>
            </div>
            <div class="col-lg-7 col-md-12">

                <div class="about-content1">
                    <h3> FAQ : </h3>
                    <h6>Q. Duration and time commitment:</h6>
                    <ul>
                        <p>The duration is for 6 months and a commitment of  minimum 100 hours  throughout the entire course of the program.</p>

                    </ul>
                    <h6>Q.Are there any Referrals incentives?</h6>
                    <ul>
                        <p>Additional stipends and vouchers</p>

                    </ul>
                    <h6>Q. Who can apply?</h6>
                    <ul>
                        <p>Graduates and Post graduates currently pursuing their degree
                        Good command over english </p>
                    </ul>
                    <h6>Q. Points of mutual understanding</h6>
                    <ul>
                        <p>Monthly review of the ambassadors will be carried and 2 poor performance records in a span of 6 months will lead to potential termination.</p>
                    </ul>
                    <h6>Q. How to contact us?</h6>
                    <ul>
                        <p>campus@Kohort.in</p>
                    </ul>
                </div>
            </div>
      </div>
    </div>

</div>
