@import "../../../common/experience/experience.component.scss";

h2 {
    font-family: 'Gosha Sans';
    font-weight: 700;
    font-size: 40px;
}

p {
    
    /* Desktop/body-text */
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #222222;
}

.banner-wrapper-image img {
    margin-left: 75px;
}
