.funfacts-area {
    &.bg-black {
        background-color: var(--blackColor);
        position: relative;
        z-index: 1;

        .col-lg-3 {
            border: none;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: var(--whiteColor);
            height: 250px;
        }
    }
    .col-lg-3 {
        border-right: 1px solid #eaecf0;

        &:last-child {
            border-right: none;
        }
    }
}
.funfacts-area-two {
    .col-lg-3 {
        border-right: 1px solid #f4f3f5;

        &:last-child {
            border-right: none;
        }
    }
}
.single-funfacts-item {
    text-align: center;
    padding: {
        top: 100px;
        bottom: 100px;
    };
    h3 {
        margin-bottom: 0;
        color: var(--mainColor);
        font: {
            size: 44px;
            weight: 800;
        };
        span {
            font-size: 48px;
        }
        .odometer {
            position: relative;
            top: -2px;
        }
    }
    p {
        text-transform: uppercase;
        color: var(--blackColor);
        line-height: 1;
        margin-top: 10px;
        font: {
            weight: 700;
            size: 16px;
        };
    }
    &.with-box-shadow {
        margin-bottom: 30px;
        background-color: var(--whiteColor);
        box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
        border: none;
        background: {
            image: url(../../../../assets/img/bg2.jpg);
            position: center center;
            size: cover;
            repeat: no-repeat;
        };
        padding: {
            top: 100px;
            bottom: 100px;
            left: 30px;
            right: 30px;
        };
    }
}
.single-funfacts {
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: {
        top: 100px;
        bottom: 100px;
    };
    img {
        position: absolute;
        left: 0;
        right: 0;
        opacity: .80;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        margin: {
            left: auto;
            right: auto;
        };
    }
    h3 {
        margin-bottom: 0;
        color: var(--mainColor);
        font: {
            size: 44px;
            weight: 800;
        };
        span {
            font-size: 48px;
        }
        .odometer {
            position: relative;
            top: -2px;
        }
    }
    p {
        text-transform: uppercase;
        color: var(--blackColor);
        line-height: 1;
        margin-top: 8px;
        font: {
            weight: 700;
            size: 16px;
        };
    }
}

@media only screen and (max-width: 767px) {
    
    .funfacts-area {
        .col-lg-3 {
            border: {
                right: none;
            };
            &:first-child {
                .single-funfacts-item {
                    padding-top: 60px;
                }
            }
            &:last-child {
                .single-funfacts-item {
                    border-bottom: none;
                    padding-bottom: 60px;
                }
            }
        }
        &.bg-black::before {
            height: 135px;
        }
    }
    .single-funfacts-item {
        border-bottom: 1px solid #eaecf0;
        padding: {
            top: 30px;
            bottom: 30px;
        };
        h3 {
            font-size: 30px;

            span {
                font-size: 35px;
            }
        }
        p {
            font-size: 13px;
        }
        &.with-box-shadow {
            padding: {
                top: 30px;
                bottom: 30px;
                left: 15px;
                right: 15px;
            };
        }
    }
    .funfacts-area-two {
        .col-lg-3 {
            border-right: none;

            &:first-child {
                .single-funfacts {
                    padding-top: 0;
                }
            }
            &:last-child {
                .single-funfacts {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }
    .single-funfacts {
        border-bottom: 1px solid #eaecf0;
        padding: {
            top: 30px;
            bottom: 30px;
        };
        img {
            display: none;
        }
        h3 {
            font-size: 30px;

            span {
                font-size: 35px;
            }
        }
        p {
            font-size: 13px;
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .funfacts-area {
        .col-lg-3 {
            &:nth-child(2) {
                .single-funfacts-item {
                    padding-top: 60px;
                }
            }
            &:nth-child(3) {
                .single-funfacts-item {
                    border-bottom: none;
                }
            }
        }
    }
    .funfacts-area-two {
        .col-lg-3 {
            &:nth-child(2) {
                .single-funfacts {
                    padding-top: 0;
                }
            }
            &:nth-child(3) {
                .single-funfacts {
                    border-bottom: none;
                }
            }
        }
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-funfacts-item {
        padding: {
            top: 80px;
            bottom: 80px;
        };
        h3 {
            font-size: 36px;

            span {
                font-size: 40px;
            }
        }
        p {
            font-size: 15px;
            text-transform: capitalize;
        }
    }
    .single-funfacts {
        padding: {
            top: 80px;
            bottom: 80px;
        };
        h3 {
            font-size: 36px;

            span {
                font-size: 40px;
            }
        }
        p {
            font-size: 15px;
            text-transform: capitalize;
        }
    }
    .funfacts-area {
        &.bg-black {
            &::before {
                height: 165px;
            }
        }
    }
    .single-funfacts-item {
        &.with-box-shadow {
            padding: {
                top: 50px;
                bottom: 50px;
                left: 20px;
                right: 20px;
            };
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
    .single-funfacts-item {
        h3 {
            font-size: 35px;

            span {
                font-size: 40px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .single-funfacts {
        h3 {
            font-size: 35px;

            span {
                font-size: 40px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .funfacts-area {
        &.bg-black {
            &::before {
                height: 185px;
            }
        }
    }
    .single-funfacts-item {
        &.with-box-shadow {
            padding: {
                top: 60px;
                bottom: 60px;
                left: 15px;
                right: 15px;
            };
        }
    }

}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}