<div class="about-area pb-100 " style="background: #F0F3FF;">
    <div class="container">

        <div class="row align-items-center">

            <div class="col-lg-6 col-md-12">

                <div class="experience-content">
                    <h1> Get Mentored </h1>
                    <p> Get tailored guidance and learn </p>

                    <h6> How it works ?</h6>
                    <h4>We have curated
                        specialized learning tracks
                      <br/>  to guide learners through
                        the rough spot to
                      <br/>  fast track on the
                        path to success.</h4> </div>
                        <a routerLink="/mentors" class="default-btn">Get Started</a>
            </div>

            <div class="col-lg-6 col-md-12">
                <div style="margin-top: 30px;" class="experience-content">
                    <h5> Enroll</h5>
                    <p class="title" id="target"><span class="highlight">Enrollments are open according to the track schedules. With kohorts running anywhere between three
                            to six months.
                        </span></p>

                    <!-- <a routerLink="/home" class="default-btn">Get Started<span></span></a> -->
                </div>
                <div class="experience-content">
                    <h5> Get</h5>
                    <p class="title" id="target"><span class="highlight">Receive invaluable feedback, set track goals to keep moving forward.</span></p>

                    <!-- <a routerLink="/home" class="default-btn">Get Started<span></span></a> -->
                </div>
                <div class="experience-content">
                    <h5> Go</h5>
                    <p class="title" id="target"><span class="highlight">Connect with the Kohort community and begin your journey towards success.
                        </span></p>

                    <!-- <a routerLink="/home" class="default-btn">Get Started<span></span></a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area ptb-100">
    <div class="container">
        <div class="experience-content">
            <h2>From the Kohort community </h2>
            <p>With Kohort your growth always comes first.</p>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-6" *ngFor="let testMonila of testiMonialList">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a class="d-block">
                            <img src="assets/img/advisor/img5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <h4>{{testMonila.name}}</h4>
                        <h6>{{testMonila.specialties}}</h6>
                        <p>{{testMonila.bio}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
