@import "../../../common/courses/courses.component.scss";
@import "../../../common/experience/experience.component.scss";
@import "../../../common/instructor/instructor.component.scss";
// .about-image {
//     overflow: hidden;
//     text-align: center;
//
//     .row {
//         margin: {
//             left: -5px;
//             right: -5px;
//         };
//         .col-lg-6 {
//             padding: {
//                 left: 5px;
//                 right: 5px;
//             };
//             &:nth-child(3) {
//                 .image {
//                     margin-top: -15px;
//                 }
//             }
//             &:nth-child(2) {
//                 .image {
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//     }
// }
$padding: 0.5rem;
// $highlight: #ee4035;
.title1 {
  // font: 2.2rem/1.25 Ubuntu, sans-serif;
  // text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: Silka;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 150%;
      color: #151B24;
      margin-top: 35px;
      letter-spacing: 1px;

  .highlight {
    display: inline;
    // background: $highlight;
    color: black;
    padding: $padding;
    line-height: 50px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
  }


}

// .experience-content{
//   margin-top: 35px;
// }
.title {
  // font: 2.2rem/1.25 Ubuntu, sans-serif;
  // text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: Silka;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 150%;
      color: #151B24;
      // margin-top: 35px;


  .highlight {
    font-family: Gosha Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  /* or 25px */

  display: flex;
  align-items: center;

  color: #000000;

  }


}

.experience-content h1{
  font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 125%;
margin-top: 10px;
// margin-top: 35px;
/* identical to box height, or 50px */


/* main/tertiary */

color: #151B24;

}
.experience-content h2{
  font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 125%;
/* identical to box height, or 50px */


color: #151B24;
}
.experience-content h4{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

// width: 412px;
  display: flex;
  align-items: center;

  color: #000000;

}
.experience-content h5{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
margin-top: 15px;
  display: flex;
  align-items: center;

  color: #000000;

}
.experience-content h6{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
margin-top: 40px;
  display: flex;
  align-items: center;

  color: #000000;

}

.post-image img{
  height: 238.80477905273438px;
width: 180.706909px;
left: 0.7740478515625px;
top: 0.8780517578125px;
border-radius: 0px;

}
// .banner-wrapper-image1{
//    background-image: url('../assets/img/Blob11.png');
//   background-repeat: no-repeat;
//   background-size: 100%;
// }

.experience-content {
  position: relative;
  z-index: 1;
  margin-top: 35px;
}

@media only screen and (min-width: 1201px) and (max-width: 1355px)
{
  .experience-content {
    position: relative;
    z-index: 1;
    margin-top: 0px;
  }
}

@media (max-width: 1200px)
{
  .experience-content {
    position: relative;
    z-index: 1;
    margin-top: 35px;
  }
}
.banner-wrapper-image1{

background-repeat: no-repeat;
background-size: 90%;
}
.banner-wrapper-image1 img{
margin-left: 50px;
}
.banner-image img{
  padding-top: 50px;
}

.experience-content p{
  font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
margin-bottom: 15px;
/* or 30px */


color: #222222;
}

.default-btn {
  height: 60px;
    // width: 340px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin-top: 22px;
    border: none;
    text-align: center;
    overflow: hidden;
    // letter-spacing: 1px;
  background: #151B24;
    padding: 12.5px 95px;
    box-sizing: border-box;
    border-radius: 0px;
    font-weight: 500;
    // font-size: var(--fontSize);
    font-family: Gosha Sans;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}

.post-content h4{
  display: flex;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
  font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 124%;
color: #4264FB;
margin-top:10px;
}

.post-content h6
{
  font-family: Silka;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 150%;
display: flex;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
/* identical to box height, or 21px */


color: #222222;

}
.post-content p
{
  font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
display: flex;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
/* or 18px */


color: #565656;

}
.about-area {
    position: relative;
    z-index: 1;

    .bulb {
        left: auto;
        right: 50px;
        width: 280px;
    }
}
.about-image {
    overflow: hidden;
    text-align: center;

    .row {
        margin: {
            left: -5px;
            right: -5px;
        };
        .col-lg-6 {
            padding: {
                left: 5px;
                right: 5px;
            };
            &:nth-child(3) {
                .image {
                    margin-top: -15px;
                }
            }
            &:nth-child(2) {
                .image {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.about-content {
    padding-left: 15px;

    .sub-title {
        display: block;
        text-transform: uppercase;
        color: var(--mainColor);
        margin-bottom: 10px;
        font: {
            size: 14px;
            weight: 600;
        };
    }
    h2 {
        margin: {
            bottom: 15px;
        };
        font: {
            size: 36px;
            weight: 800;
        };
    }
    .features-list {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: {
            bottom: 0;
            top: -5px;
            left: -8px;
            right: -8px;
        };
        li {
            flex: 0 0 50%;
            max-width: 50%;
            padding: {
                left: 8px;
                right: 8px;
                top: 16px;
            };
            span {
                display: block;
                position: relative;
                color: var(--blackColor);
                font: {
                    size: 18px;
                    weight: 700;
                };
                padding: {
                    left: 50px;
                    top: 5px;
                    bottom: 5px;
                };
                i {
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    text-align: center;
                    font-weight: 500;
                    line-height: 40px;
                    color: var(--mainColor);
                    font-size: 25px;
                    background: {
                        image: url(../../../../../assets/img/circle-border.png);
                        position: center center;
                        repeat: no-repeat;
                        size: cover;
                    };
                }
            }
        }
    }
    .default-btn {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
  .experience-content{
    position: relative;
    z-index: 1;

}

    .about-image {
        .row {
            .col-lg-6 {
                &:nth-child(3) {
                    .image {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .about-content {
        padding-left: 0;
        text-align: center;
        margin-top: 30px;

        .sub-title {
            font-size: 12.5px;
        }
        h2 {
            font-size: 25px;
        }
        .features-list {
            margin-top: -10px;

            li {
                span {
                    font-size: 16px;
                    padding: {
                        left: 0;
                        top: 0;
                        bottom: 0;
                    };
                    i {
                        position: relative;
                        left: 0;
                        top: 0;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 20px;
                        display: block;
                        margin: 0 auto 5px;
                    }
                }
            }
        }
        .default-btn {
            margin-top: 25px;
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .experience-content{
    position: relative;
    z-index: 1;
}

    .about-content {
        .about-list {
            li {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .experience-content{
    position: relative;
    z-index: 1;
      margin-top: 20px;
}

    .about-image {
        .image {
            img {
                width: 100%;
            }
        }
    }
    .about-content {
        text-align: center;
        margin-top: 30px;

        .sub-title {
            font-size: 13.5px;
        }
        h2 {
            font-size: 30px;
        }
        .features-list {
            li {
                flex: 0 0 25%;
                max-width: 25%;

                span {
                    font-size: 16px;
                    padding: {
                        left: 0;
                        top: 0;
                        bottom: 0;
                    };
                    i {
                        position: relative;
                        top: 0;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 20px;
                        display: block;
                        margin: {
                            left: auto;
                            right: auto;
                            bottom: 10px;
                        };
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .experience-content{
    position: relative;
    z-index: 1;
      margin-top: 20px;
}

    .about-content {
        h2 {
            font-size: 30px;
        }
        .features-list {
            li {
                span {
                    font-size: 17px;
                }
            }
        }
    }

}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}
@media only screen and (min-width: 1550px) {
  .experience-content{
    position: relative;
    z-index: 1;
}

    .about-area {
        .bulb {
            width: auto;
        }
    }

}
