<div class="about-area ptb-100 "  style="background: #F0F3FF;">
    <div class="container">
        <div class="row align-items-center">
             <div class="col-lg-6 col-md-12" >
               <div>
                  <div class="banner-image" >
                   <img src="../assets/img/Fig.png" alt="image">
                     <!-- <img src="../assets/img/Group 94.png" alt=""> -->
                   </div>

                   <!-- <div class="banner-shape8"><img src="assets/img/banner-shape8.png" alt="image"></div>
                   <div class="banner-shape9"><img src="assets/img/banner-shape9.png" alt="image"></div>
                   <div class="banner-shape10"><img src="assets/img/banner-shape10.png" alt="image"></div> -->
               </div>
             </div>
            <div class="col-lg-6 col-md-12">
                <div class="experience-content">
                    <h2>Get Mentored</h2>
                    <p>Get tailored guidance and learn</p>
                    <!-- <ul class="features-list">
                        <li><span><i class="flaticon-experience"></i> Expert Instruction</span></li>
                        <li><span><i class="flaticon-time-left"></i> Lifetime Access</span></li>
                        <li><span><i class="flaticon-tutorials"></i> Remote Learning</span></li>
                        <li><span><i class="flaticon-self-growth"></i> Self Development</span></li>
                    </ul> -->
                    <a routerLink="/home" class="default-btn">Get Started<span></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area ptb-100">
    <div class="container">
      <div class="experience-content">
            <h2>From the Kohort community </h2>
            <p>With Kohort your growth always comes first.</p>
              </div>
        <div class="row">
          <div class="col-lg-2 col-md-6">
              <div class="single-blog-post">
                  <div class="post-image">
                      <a  class="d-block">
                            <img src="assets/img/advisor/img5.jpg" alt="image">
                      </a>
                  </div>
                  <div class="post-content">
                    <h4 >David Shan</h4>
                    <h6>UI Designer</h6>
                      <p>It’s Time To Think Differently About Homeschooling</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-6">
              <div class="single-blog-post">
                  <div class="post-image">
                      <a  class="d-block">
                            <img src="assets/img/advisor/img5.jpg" alt="image">
                      </a>
                  </div>
                  <div class="post-content">
                    <h4 >David Shan</h4>
                    <h6>UI Designer</h6>
                      <p>It’s Time To Think Differently About Homeschooling</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-6">
              <div class="single-blog-post">
                  <div class="post-image">
                      <a  class="d-block">
                            <img src="assets/img/advisor/img5.jpg" alt="image">
                      </a>
                  </div>
                  <div class="post-content">
                    <h4 >David Shan</h4>
                    <h6>UI Designer</h6>
                      <p>It’s Time To Think Differently About Homeschooling</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-6">
              <div class="single-blog-post">
                  <div class="post-image">
                      <a  class="d-block">
                            <img src="assets/img/advisor/img5.jpg" alt="image">
                      </a>
                  </div>
                  <div class="post-content">
                    <h4 >David Shan</h4>
                    <h6>UI Designer</h6>
                      <p>It’s Time To Think Differently About Homeschooling</p>
                  </div>
              </div>
          </div>
            <div class="col-lg-2 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a  class="d-block">
                              <img src="assets/img/advisor/img5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                      <h4 >David Shan</h4>
                      <h6>UI Designer</h6>
                        <p>It’s Time To Think Differently About Homeschooling</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a  class="d-block">
                              <img src="assets/img/advisor/img5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                      <h4 >David Shan</h4>
                      <h6>UI Designer</h6>
                        <p>It’s Time To Think Differently About Homeschooling</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
