<div class="get-instant-courses-area-two bg-f9fbff">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12" >
                <div class="get-instant-courses-content-style-two">
                    <!-- <span class="sub-title">GET INSTANT ACCESS TO THE FREE</span> -->
                    <h2>Meetups</h2>
                    <p>Join meetups, find support, share knowledge and grow together.</p>
                    <a routerLink="/meetups" class="default-btn">Get Started </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" style="padding: 25px;">
              <div>
                 <div class="banner-image" >
                  <img src="../assets/img/kohort2.png" alt="image">
                  </div>

                  <!-- <div class="banner-shape8"><img src="assets/img/banner-shape8.png" alt="image"></div>
                  <div class="banner-shape9"><img src="assets/img/banner-shape9.png" alt="image"></div>
                  <div class="banner-shape10"><img src="assets/img/banner-shape10.png" alt="image"></div> -->
              </div>
            </div>
        </div>
    </div>
</div>
