<div class="get-instant-courses-area-two bg-f9fbff">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="get-instant-courses-content-style-two">
                    <!-- <span class="sub-title">GET INSTANT ACCESS TO THE FREE</span> -->
                    <h2>Connect with like-minded people now. It's easy!</h2>
                    <p>Join our meetup to make friends, expand your network, find support, grow a business, and explore your interests!</p>
                    <a routerLink="/meetups" class="default-btn">Get Started </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" style="padding: 25px;text-align:end">

                    <div class="banner-image">
                        <img src="../assets/img/kohothree.svg" alt="image">
                    </div>

                    <!-- <div class="banner-shape8"><img src="assets/img/banner-shape8.png" alt="image"></div>
                  <div class="banner-shape9"><img src="assets/img/banner-shape9.png" alt="image"></div>
                  <div class="banner-shape10"><img src="assets/img/banner-shape10.png" alt="image"></div> -->

            </div>
        </div>
    </div>
</div>


<div  class="experience-area ptb-100" style="background: #F0F3FF;">
    <div class="container">
        <div class="row align-items-center">
            <div class=" col-md-6">
                <div  class="experience-img">
                    <img src="../assets/img/kohotwo.svg" alt="image">
                </div>
            </div>
            <div  class=" col-md-6">
                <div class="about-content">
                    <h4 >Kohort Communities </h4>
                    <p >Do you want to learn more about this amazing world and make friends while doing it?</p>
                    <p >Get a taste of what it's like with any one (or more) communities that interest you!</p>

                    <a routerLink="/meetups" class="default-btn">Join for FREE </a>

                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px">


            <!-- <div class="col-lg-4 col-md-12"  style="padding-bottom: 30px">
                <div class="card" style="border: 2px solid #CFD0D3;">
                    <div class="card-title-hdr1">

                         <i class="fa fa-heart-o" ></i>
                    </div>

                    <div class="card-body">
                      <div class="courses-content">

                          <a routerLink="/" class="fav"><i class="flaticon-calendar"></i></a>
                      <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                          <h5>Sample Community </h5>
                          <h4>Join community to find support, share knowledge, grow together and explore your passion.</h4>
                      </div>
                      <a routerLink="/meetup" class="link">Coming soon </a>
                      <a routerLink="/meetup" class="link2">Free </a>

                    </div>
                </div>
            </div> -->
        </div>


    </div>
</div>
