
@import "../../../common/courses/courses.component.scss";
.courses-content h3 a {

left: 4.36%;
right: 6.71%;
top: 47.42%;
bottom: 25.85%;

font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 150%;
/* or 19px */


color: #333333;

}

.h5 {
  left: 4.36%;
  right: 8.82%;
  top: 26.14%;
  bottom: 52.77%;

  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 124%;
  /* or 33px */


  /* Primary */

  color: #4264FB;

}

p{
  left: 46.74%;
right: 22.18%;
top: 8.11%;
bottom: 83.65%;

font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
margin-top: 12px;

color: #FFFFFF;

}

h4 {
  left: 4.36%;
right: 6.71%;
top: 47.42%;
bottom: 25.85%;

font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 150%;
/* or 19px */


color: #333333;

}
i {
  color: #FFFFFF;
}

h1{

  width: 338px;
height: 50px;
left: 189.25px;
top: 1246.9px;

/* Desktop/Headline2 */

font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 125%;
/* identical to box height, or 50px */


color: #AAAAAA;

}

h6{
  width: 552.77px;
height: 60px;
left: 189.25px;
top: 1302.05px;

/* Desktop/body-text */

font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
margin-bottom: 15px;
/* or 30px */


color: #222222;
}

a{
  left: 71.09%;
right: 4.86%;
top: 80.85%;
bottom: 8.84%;

font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 124%;
/* identical to box height, or 20px */

text-decoration-line: underline;

/* Primary */

color: #4264FB;
margin-bottom: 20px;



}

.single-courses-item{

left: 0.18%;
right: 0.11%;
top: 0.1%;
bottom: 0.18%;

left: 0.18%;
right: 0.11%;
top: 0.1%;
bottom: 0.18%;

background: #FFFFFF;
border: 2px solid #AAAAAA;
box-sizing: border-box;

}

.single-courses-item:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.courses-content h5{
  left: 4.36%;
right: 8.82%;
top: 26.14%;
bottom: 52.77%;

font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 124%;
/* or 33px */


/* Primary */

color: #4264FB;


}
.courses-content h4{
  left: 4.36%;
right: 6.71%;
top: 47.42%;
bottom: 25.85%;

font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 150%;
/* or 19px */


color: #333333;



}
