<div class="courses-area ptb-100 "  style="background: #F0F3FF;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="get-instant-courses-content-style-two">
                    <!-- <span class="sub-title">GET INSTANT ACCESS TO THE FREE</span> -->
                    <h2>The 5 biggest things you’ll <br/> learn in this Meetup</h2>
                    <ul>
                      <li><p>Lorem ipsum dummy text Lorem ipsum dummy text.</p></li>
                      <li><p>Lorem ipsum dummy text Lorem ipsum dummy text.</p></li>
                      <li><p>Lorem ipsum dummy text Lorem ipsum dummy text.</p></li>
                      <li><p>Lorem ipsum dummy text Lorem ipsum dummy text.</p></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <!-- <div class="get-instant-courses-image-style-two">
                      <img src="../assets/img/illustration_2 (2).png" alt="">
                </div> -->
            </div>
        </div>
    </div>
</div>
