<div class="main-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-content-style-two">
                    <h1>Discover <br/><span style="color:#4264FB">your passion</span></h1>
                    <p>Level up your skills, follow your passions and provide <br/> meaningful change to the world.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-image-style-two">
                    <img src="../assets/img/illustration_1.jpg" alt="illustration_1">
                </div>
            </div>
            <div class="col-md-12 rectangle">
                <h3 >Get involved and stay <br/>engaged through live Meetups</h3>
                <div class="form-fields">
                  <div class="form-group">
                      <label for="">Fullname</label>
                      <input class="form-control" type="text"  name="" value="">
                  </div>
                  <div class="form-group " style="margin-left: 30.74px;">
                        <label for="">Email Address</label>
                      <input class="form-control" type="email"  name="" value="">
                  </div>
                  <button type="button" class="btn btn-primary" name="button">Stay Updated</button>
                </div>
            </div>
        </div>
    </div>
</div>
