@import "../../../common/instructor/instructor.component.scss";
.main-banner-area {
    z-index: 1;
    position: relative;
    padding: {
        top: 80px;
        bottom: 100px;
    };
    .container-fluid {
        max-width: 1395px;
    }
    .banner-shape1 {
        left: auto;
        bottom: 10%;
        right: 17%;
        width: 190px;
    }
    .banner-shape2 {
        width: 50px;
        left: 29%;
        top: 9%;
    }
    .banner-shape3 {
        right: auto;
        width: 50px;
        left: 30%;
        top: 5%;
    }
}
.experience-area {
  margin-bottom: 50px;
  // padding: 40px;
  margin-top: 50px;
}

.experience-content h1{
  // width: 768.94px;
      // height: 174px;
      left: 190px;
      top: 206.3px;
      font-family: Gosha Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 84px;
      line-height: 104%;
      color:  #151B24
}
.experience-content h2{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  /* or 50px */


  color: #4264FB;
}

.single-courses-box
{
  margin-top: 25px;
}


.experience-content P{
  margin-top: 30px;
      // width: 519.71px;
      // height: 67.66px;
      left: 190.29px;
      top: 420.34px;
      font-family: Silka;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 150%;
    color: #151B24;

    }
.main-banner-content-style-two {
    // margin-left: 150px;
    h1 {
        font-family: Gosha Sans;
        width: 629.71px;
        height: 238.07px;
        font-family: Gosha Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 100px;
        color: #151B24;
        font: {
            size: 60px;
            weight: 800;
        };
    }
    p {
        max-width: 580px;
        margin-top: -85px;
        line-height: 1.8;
        font: {
            weight: 600;
            size: 16px;
        };
    }
    .default-btn {
        margin-top: 10px;
    }
}

.experience-img {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-left: 30px;
    padding: {
        left: 15px;
        right: 15px;
        bottom: 30px;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        // background-color: var(--mainColor);
        z-index: -1;
    }
    .title {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        background-color: var(--secondaryColor);
        color: var(--whiteColor);
        width: 100%;
        padding: {
            top: 15px;
            bottom: 12px;
            left: 30px;
            right: 30px;
        };
        font: {
            size: 35px;
            weight: 700;
        };
        span {
            font-weight: 800;
        }
    }
}


.form-control{
  background: #FFFFFF;
    border: 3px solid #9BADFD;
    box-sizing: border-box;
}

@media only screen and  (min-width: 768px){
  .form-group label {
    height: 24px;
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

  button[_ngcontent-xtx-c146] {
      margin-top: 22px;
      border: none;
      /* display: block; */
      text-align: center;
      overflow: hidden;

       background: #4264FB;
      // transition: var(--transition);
      width: 100%;
      border-radius: 0px;
      padding: 14.5px 80px;
      font-weight: 400;
      font-size: var(--fontSize);
      font-family: Gosha Sans;
  font-style: normal;

  font-size: 15px;
  line-height: 150%;
  /* or 30px */

  align-items: center;
  text-align: center;

  color: #FFFFFF;
  }

}
@media only screen and (max-width: 767px) {

    .main-banner-area {
        border-top: 1px solid #eeeeee;
        padding: {
            top: 60px;
            bottom: 60px;
        };
        .container-fluid {
            max-width: 100%;
        }
    }
    .main-banner-content-style-two {
        text-align: center;;

        h1 {
            margin-bottom: 15px;
            font-size: 28px;
        }
        p {
            max-width: 100%;
            font: {
                weight: 500;
                size: 15px;
            };
        }

    }
    .main-banner-image-style-two {
        margin-top: 30px;
    }
    button[_ngcontent-xtx-c146] {
        margin-top: 22px;
        border: none;
        /* display: block; */
        text-align: center;
        overflow: hidden;

         background: #4264FB;
        // transition: var(--transition);
        width: 100%;
        border-radius: 0px;
        padding: 14.5px 80px;
        font-weight: 400;
        font-size: var(--fontSize);
        font-family: Gosha Sans;
    font-style: normal;

    font-size: 15px;
    line-height: 150%;
    /* or 30px */

    align-items: center;
    text-align: center;

    color: #FFFFFF;
    }
}


.main-banner-image-style-two img {
  width: 369.02px;
  height: 368.02px;
}

.main-banner-image-style-two {
    margin-left: 20%;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .main-banner-area {
        .container-fluid {
            max-width: 540px;
        }
    }
    button[_ngcontent-xtx-c146] {
        margin-top: 22px;
        border: none;
        /* display: block; */
        text-align: center;
        overflow: hidden;

         background: #4264FB;
        // transition: var(--transition);
        width: 100%;
        border-radius: 0px;
        padding: 14.5px 80px;
        font-weight: 400;
        font-size: var(--fontSize);
        font-family: Gosha Sans;
    font-style: normal;

    font-size: 15px;
    line-height: 150%;
    /* or 30px */

    align-items: center;
    text-align: center;

    color: #FFFFFF;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .main-banner-area {
        border-top: 1px solid #eeeeee;
        padding: {
            top: 80px;
            bottom: 80px;
        };
        .container-fluid {
            max-width: 720px;
        }
    }
    .main-banner-content-style-two {
        text-align: center;

        h1 {
            margin-bottom: 15px;
            font-size: 37px;
        }
        p {
            margin: 0 auto 10px;
            max-width: 515px;
            font-size: 15px;
        }
    }
    .main-banner-image-style-two {
        text-align: center;
        margin-top: 30px;
    }
    button[_ngcontent-xtx-c146] {
        margin-top: 22px;
        border: none;
        /* display: block; */
        text-align: center;
        overflow: hidden;

         background: #4264FB;
        // transition: var(--transition);
        width: 100%;
        border-radius: 0px;
        padding: 14.5px 80px;
        font-weight: 400;
        font-size: var(--fontSize);
        font-family: Gosha Sans;
    font-style: normal;

    font-size: 15px;
    line-height: 150%;
    /* or 30px */

    align-items: center;
    text-align: center;

    color: #FFFFFF;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .main-banner-area {
        .container-fluid {
            max-width: 960px;
        }
    }
    button[_ngcontent-xtx-c146] {
        margin-top: 22px;
        border: none;
        /* display: block; */
        text-align: center;
        overflow: hidden;

         background: #4264FB;
        // transition: var(--transition);
        width: 100%;
        border-radius: 0px;
        padding: 14.5px 80px;
        font-weight: 400;
        font-size: var(--fontSize);
        font-family: Gosha Sans;
    font-style: normal;

    font-size: 15px;
    line-height: 150%;
    /* or 30px */

    align-items: center;
    text-align: center;

    color: #FFFFFF;
    }
    .main-banner-content-style-two {
        h1 {
            font-size: 45px;
        }
        p {
            max-width: 100%;
        }
    }


}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

  .rectangle {
    height: 444.2799987792969px;
    width: 100%;
    left: -0.109130859375px;
    margin-top: 47.55px;
    top: 601.4159545898438px;
    border-radius: 0px;
    background: #F0F3FF;
    // background: #000000;
  }
  .rectangle h3 {

      color:  #4264FB;
      margin-left: 150px;
      position: absolute;
      width: 704.74px;
      height: 100px;
      // left: 191px;
      margin-top: 90.42px;
      // top:  610.84px;

      font-family: Gosha Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 125%;

  }

  .form-fields {
    position: absolute;
    // margin-top: 73.29px;
    top: 765.13px;
    display: flex;
    margin-left: 150px;
  }

  .form-control {
      height: 50px;
      color: var(--blackColor);
      box-shadow: unset !important;
      border: 1px solid #000000;
      background-color: #f5f5f5;
      transition: var(--transition);
      border-radius: 0px;
      padding: 1px 0 0 15px;
      font-size: var(--fontSize);
      font-weight: 400;

      height: 40px;
      width: 290px;
      left: 0px;
      top: 29.128662109375px;
      border-radius: 0px;

  }

  .form-group label{
    height: 24px;
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

  .form-group input{
    height: 60px;
    width: 340px;
    left: 0px;
    top: 29.128662109375px;
    border-radius: 0px;
    background: #FFFFFF;
  border: 3px solid #9BADFD;
  box-sizing: border-box;
  }

  button[_ngcontent-xtx-c146] {
    height: 60px;
    width: 340px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
      margin-top: 22px;
      border: none;
      /* display: block; */
      text-align: center;
      overflow: hidden;

       background: #4264FB;
      // transition: var(--transition);
    padding: 10.5px 95px;
        box-sizing: border-box;
      border-radius: 0px;
      // padding: 14.5px 80px;
      font-weight: 400;
      font-size: var(--fontSize);
      font-family: Gosha Sans;
  font-style: normal;

  font-size: 15px;
  line-height: 150%;
  /* or 30px */

  align-items: center;
  text-align: center;

  color: #FFFFFF;
  }

}
@media only screen and (min-width: 1550px) {

    .main-banner-area {
        .container-fluid {
            max-width: 1480px;
        }
    }
    button[_ngcontent-xtx-c146] {
        margin-top: 22px;
        border: none;
        /* display: block; */
        text-align: center;
        overflow: hidden;

         background: #4264FB;
        // transition: var(--transition);
        width: 100%;
        border-radius: 0px;
        padding: 14.5px 80px;
        font-weight: 400;
        font-size: var(--fontSize);
        font-family: Gosha Sans;
    font-style: normal;

    font-size: 15px;
    line-height: 150%;
    /* or 30px */

    align-items: center;
    text-align: center;

    color: #FFFFFF;
    }
}
