<div class="courses-area ptb-100 " style="background: #F0F3FF;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-content">
                    <h1>Upcoming meetups</h1>
                    <h6>Sign up for upcoming events below</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12" *ngFor="let meetup of meetupList" style="padding-bottom: 30px">
                    <div class="card">
                      <div class="card-title-hdr">
                      <ul  class="courses-box-footer d-flex justify-content-between align-items-center">
                        <li >
                          <img src="../assets/icon/kohort-gcal.svg" alt="image" style="margin-right:5px;">
                        {{ getDate(meetup.dates) }}
                          </li>
                        <li >
                          <img src="../assets/icon/kohort-timeg.svg" alt="image" style="margin-right:5px;">
                        {{ getReadableTime(meetup.startTime) }} - {{ getReadableTime(meetup.endTime, true) }}
                        </li>
                        <li>
                          <img src="../assets/icon/kohort-likeg.svg" alt="image">

                          </li>
                      </ul>
                      </div>
                        <div class="card-body">
                          <div class="courses-content">

                              <!-- <a routerLink="/" class="fav"><i class="flaticon-calendar"></i></a>
                          <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                              <h5>{{meetup.name}}</h5>
                              <h4>{{ meetup.description }}</h4>
                          </div>
                          <a routerLink="/meetup/{{meetup.id}}"style="float: right;">learn More </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="display: none">
                <div class="col-lg-4 col-md-12" *ngFor="let meetup of meetupList">
                    <div class="single-courses-item">
                        <div class="row align-items-center">

                            <ul class="courses-content-footer d-flex justify-content-between align-items-center" style="background:#65EDBF">
                                <i class='flaticon-calendar'></i>
                                <p> May 7, 2021</p>
                                <i class="fa fa-clock"></i>
                                <p> 07:00 - 09:00 PM </p>
                                <i class='flaticon-heart' float:left></i>
                            </ul>

                            <div class="col-lg-12 col-md-16">

                                <div class="courses-content">

                                    <!-- <a routerLink="/" class="fav"><i class="flaticon-calendar"></i></a>
                                <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                                    <h5>{{meetup.name}}</h5>
                                    <h4>{{ meetup.description }}</h4>
                                </div>
                                <a href="" style="float: right;">learn More </a>

                            </div>

                        </div>
                    </div>
                </div>



                <!--

            <div class="col-lg-12 col-md-12">
                <div class="courses-info">
                    <a routerLink="/courses-1" class="default-btn"><i class="flaticon-user"></i>View All Courses<span></span></a>
                    <p>Get into details now?​ <a routerLink="/courses-1">PM Master’s Program</a></p>
                </div>
            </div> -->
            </div>
        </div>
        <!-- <div class="shape16"><img src="assets/img/shape15.png" alt="image"></div> -->
    </div>
