<div class="advisor-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="experience-content">
                <h3>Learn from the World’s best <br /><span style="color:#4264FB"> <span></span></span> </h3>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6" *ngFor="let mentor of topMentors | slice:0:show; let i=index">
                <!-- <a href="#" class="span-tag tag">{{ mentor.name }}</a> -->
                <div class="single-advisor-item">
                    <div class="advisor-image">
                        <img src="assets/img/advisor/img4.jpg" alt="image" routerLink="/profile/{{mentor.id}}">
                        <ul class="social-link">
                            <li *ngIf="mentor.facebook"><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li *ngIf="mentor.twitter"><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li *ngIf="mentor.instagram"><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li *ngIf="mentor.website"><a href="#" class="d-block" target="_blank"><i class='bx bxl-edge'></i></a></li>
                        </ul>
                    </div>
                    <div class="advisor-content">
                        <span>{{ mentor.achievement }}</span>
                    </div>
                </div>
            </div>

            <div class="explore">
                <a style="cursor: pointer;" *ngIf="show < topMentors.length" (click)="increaseShow()">Explore Mentors</a>
            </div>
        </div>
    </div>
</div>
<!--
        <p class="clearfix" >
			<span class="collapsable float-left" > {{  (info.length>firstCount) ? (info | slice:0:counter)+'..':(info) }}
					<span class="redTxt" *ngIf="(info.length>100)" (click)="toggleSkil($event)"  >
							{{showTxt}}
				   </span>
			</span>


         </p> -->
