<div class="courses-area pt-60 pb-20 bg-f5f7fa">
    <div class="container">
      <div class="main-banner-wrapper-content">
          <h1>Speaker name</h1>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
          <!-- <a routerLink="/profile-authentication" class="default-btn"><i class="flaticon-user"></i>Join For Free<span></span></a> -->
      </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-language-courses-box">

                  
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-language-courses-box">

                    <h3>Spanish</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <!-- <a routerLink="/courses-1" class="default-btn"><i class="flaticon-right"></i>View More<span></span></a> -->
                </div>
            </div>
        >
        </div>
    </div>
</div>
