<div class="courses-area" style="background: #F0F3FF;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="get-instant-courses-content-style-two">
                    <h2>HTML Crash Course - <br/>Intro to Web Development</h2>
                    <a routerLink="/" class="default-btn">$ 399 - Buy Tickets </a>
                    <div class="events-share">
                        <div class="share-info">
                            <span>Share the event with</span>
                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="get-instant-courses-image-style-two">
                      <p><i class="bx bx-calendar"></i>May 7, 2021</p>
                      <p><i class="bx bx-time"></i>07:00 - 09:00 PM (IST)</p>
                      <p><i class="bx bx-map"></i>Online, Zoom Call</p>
                      <p><i class="bx bx-map"></i>Link will be shared, on your email</p>

                </div>
            </div>
        </div>
    </div>
</div>


<div  class="courses-area ptb-100 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="slogan-image" >
                  <h3>Speaker name</h3>
                    <img src="../assets/img/walter-white.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="slogan">
                    <p>Join meetups, find support, share knowledge, grow <br/>together and explore your passion. Join meetups, find <br/>support, share knowledge, grow together and explore <br/>your passion.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
              </div>
        </div>
    </div>
</div>

<app-meet-ups></app-meet-ups>
