@import "../../../common/courses/courses.component.scss";
@import "../../../common/experience/experience.component.scss";
@import "../../../common/instructor/instructor.component.scss";


.section-title {
  margin-top: -112px;
  margin-left: -50px;
  width: 1057.24px;
  height: 50px;
  left: 191.72px;
  top: 1139.7px;
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  color: #151B24;
}

.section-title h2 {
  color: #151B24;
}

.experience-content1 {
    /* position: relative; */
    /* z-index: 1; */
    text-align: end;
    margin-bottom: 25px;
}

.glyphicon-chevron-right:before {
    font-size: 22px;
    color: #0062e4;
    margin-left: 35px;
  border: solid 3px;
    margin-right: 25px;
}
.glyphicon-chevron-left:before {
    font-size: 22px;
    color: #0062e4;
    // margin-left: 50px;
  border: solid 3px;
}
.explore{
  text-align: end;
  font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 125%;

  color: #000000;
    margin-right: 25px;
}
.glyphicon-chevron-left:before {
    content: "\e079";
    font-size: 15px;
     color: #4264FB;
}
.glyphicon-chevron-right:before {
    // content: "\e079";
    font-size: 15px;
   color: #4264FB;
}

._sexpk1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.bx-chevron-right:before {
    content: "\e9b2";
    font-size: 30px;
}
a {
    color: #0062e4;
    text-decoration: none;
}
.courses-content {
    height: 88.3626708984px;
    width: 216.706909px;
    left: 0.4260253906px;
    top: 374.2269287109px;
    border-radius: 0px;
    background: black;
}
.courses-content  p
{
  font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 150%;
/* or 19px */
  padding: 5px;

color: #FFFFFF;

}

.experience-content h3{
  font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 125%;
// margin-top: -50px;
// margin-bottom: 50px;
/* identical to box height, or 50px */


color: #151B24;
}

.experience-content p
{
  font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 150%;
/* identical to box height, or 33px */


color: #000000;

}

.courses-image {
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 200ms ease-in;
  cursor: pointer;
}


.courses-image :hover {
  transform: scale(1.07);
}


.carousel-control.left {
  margin-left: -1%;
    background: none;
    width: 10px;
    color: black;
}


.carousel-control.right {
  margin-right: -1%;
      background: none;
      width: 10px;
      color: black;

}

.carousel-indicators li{
  background: gray;
}

.carousel-indicators{
  width: 70%;
}

.carousel-indicators .active{
  background: black;
}


.pagination-area .page-numbers {
  width: 120px;
    background: none;
    /* width: 33px; */
    // height: 33px;
    /* background-color: #f3f0f0; */
    color: var(--optionalColor);
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    line-height: 34px;
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
    font-size: var(--fontSize);
    font-weight: 800;
}
