@import "../../../common/courses/courses.component.scss";


.row {
  margin-left: 6%;
}

.section-title {
  margin-top: -112px;
  margin-left: -50px;
  width: 1057.24px;
  height: 50px;
  left: 191.72px;
  top: 1139.7px;
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  color: #151B24;
}

.section-title h2 {
  color: #151B24;
}


.courses-image {
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 200ms ease-in;
  cursor: pointer;
}


.courses-image :hover {
  transform: scale(1.07);
}
