<footer class="footer-area">
    <div class="container">

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <!-- <h6 target="_blank" href="about-1">About</h6> -->
                        <a class="footer-links-list" target="_self" href="about-1">About</a> <br/>
                      <a  class="footer-links-a" target="_self" href="about-1">Student Ambassador</a><br/>
                    <a  class="footer-links-a" target="_self" href="about-3">Founder’s letter</a><br/>
                    <a  class="footer-links-a" target="_self" href="">Blog</a>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <a class="footer-links-list" target="_self" href="">Support</a><br/>
                       <a class="footer-links-a" target="_self" href="">Help Center</a><br/>
                    <a  class="footer-links-a" target="_self" href="">Cancellation Options</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-7">
                    <div class="single-footer-widget">
                        <ul>
                            <li><a href=" https://www.facebook.com/kohortofficial" class="d-block"><img src="../assets/icon/kohort-fb.png" alt="image"></a></li>
                            <li><a href="https://twitter.com/Kohort_Official" target="_blank"><img src="../assets/icon/kohort-twitter.png" alt="image"></a></li>
                            <li><a href=" https://instagram.com/kohort_official" class="d-block" target="_blank"><img src="../assets/icon/kohort-inst.png" alt="image"></a></li>
                            <li><a href="https://www.linkedin.com/company/66247358/admin/" class="d-block" target="_blank"><img src="../assets/icon/kohort-link.png" alt="image"></a></li>
                            <li><a href="https://www.youtube.com/channel/UCqgAXhFJC88nUqlD8p57txQ" class="d-block" target="_blank"><img src="../assets/icon/kohort-youtube.png" alt="image"></a></li>
                        </ul><br/>

                        <p><i class='bx bx-copyright'></i><a target="_blank" href="">Copyright 2021 Kohort</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
