<div class="courses-area ptb-100 " style="background: #E2FAF4;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-content">
                    <h1>I Want To Learn </h1>
                    <h6> </h6>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <label class="label"></label>
                <form class="search-box">
                    <input type="text" [(ngModel)]="selectedValue" placeholder="Country name" (keyup)="filterCountryList()" class="input-search" placeholder="Search" [ngModelOptions]="{standalone: true}">
                    <ul *ngIf="filteredResult.length>0">
                        <li *ngFor="let c of filteredResult" (click)="selectCountry(c.name)">
                            <span>{{c.name}}</span>
                        </li>
                    </ul>
                    <!-- <button type="submit"><i class="flaticon-search"></i></button> -->
                </form>
            </div>

            <div class="col-lg-4 col-md-12" style="margin-left: 25px;">

                <div class="search-box">
                    <button _ngcontent-xtx-c146="" type="submit" (click)="getValue()">
                        <!-- <i class="fa fa-refresh fa-spin" ></i> -->
                        Explore
                    </button>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:50px;">

            <div class="col-lg-4 col-md-12" *ngFor="let meetup of studiesList2 |  slice:0:show; let i=index" style="padding-bottom: 30px">
                <div class="card">
                    <div class="card-title-hdr">
                        <img _ngcontent-xxw-c71="" src="../assets/icon/kohort-gcal.svg" alt="image">
                        <div class="card-timing">
                            {{ readableDateFormat(meetup.startDate) }} to {{ readableDateFormat(meetup.endDate) }}
                        </div>
                        <img _ngcontent-xxw-c71="" src="../assets/icon/kohort-likeg.svg" alt="image" style="float: right;">
                    </div>
                    <div class="card-body">
                        <div class="courses-content">
                            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> --> 
                            <h5>{{meetup.code}}</h5>
                            <div class="wrap">
                                <h4>{{ meetup.description }}</h4>
                                <span id="after"></span>
                                <div class='tooltip'>
                                    <h6>{{ meetup.description }}</h6>
                                </div>
                                <div>
                                </div>
                                  <a routerLink="/" style="float: left;">Join now </a>
                                <a routerLink="/" style="float: right;color: #151B24;">learn More </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="explore">
                <a style="cursor: pointer;" *ngIf="show < studiesList2.length" (click)="increaseShow()">Explore Mentors</a>
            </div>
        </div>
        <!-- <div class="shape16"><img src="assets/img/shape15.png" alt="image"></div> -->
