<div class="about-area ptb-100 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">

                <div class="experience-content">
                    <h2>Ready to <span style="color:#4264FB">change the world?</span>

                    </h2>
                </div>
                <div>
                    <p> Changing the world, one mentor at a time.
                        <!-- operations Design and content -->
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div>
                    <!-- <span>  <img src="../assets/img/SVG 1.png" alt="image"></span> -->
                    <img src="../assets/img/meetup14.png" alt="image">
                    <!-- <span class="title"><span>15</span> Years of Experience</span> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div> -->
</div>

<!-- <div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="experience-img">
                    <span>  <img src="../assets/img/SVG 1.png" alt="image"></span>
                    <img src="../assets/img/about1.png" alt="image">
                    <span class="title"><span>15</span> Years of Experience</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="experience-content" style="margin-bottom:300px">

                    <img src="../assets/img/about11.png" alt="image">

                </div>
            </div>
        </div>
    </div>

</div> -->

<div class="courses-area ptb-100" style="background: #F0F3FF">
    <div class="container">
        <div class="courses-area-contentTwo">
            <div class="row align-items-center">
                <h2>Why attend the meetup</h2>

                <div class="col-lg-4 col-md-12">
                    <img src="../assets/img/meetup15.png" alt="">
                    <h4>Apply to be a mentor</h4>
                    <p> Join meetups, find support, share knowledge, grow together and explore your passion. Join meetups.</p>
                </div>

                <div class="col-lg-4 col-md-12">
                    <img src="../assets/img/kohort15a.png" alt="">
                    <h4>Welcome to Kohort</h4>
                    <p> Join meetups, find support, share knowledge, grow together and explore your passion. Join meetups.</p>
                </div>

                <div class="col-lg-4 col-md-12">
                    <img src="../assets/img/meetup16.png" alt="">
                    <h4>Get ready to Mentor the world</h4>
                    <p> Join meetups, find support, share knowledge, grow together and explore your passion. Join meetups.</p>
                </div>
            </div>
<div class="about-content">
  <a href="https://biw67j0f3gs.typeform.com/to/yRHaixuI?typeform-source=kohort.in" class="default-btn" target="_blank">Become a Mentor </a>

</div>
        </div>


    </div>
</div>
<div class="courses-area ptb-100">
    <div class="container">
        <div class="courses-area-contentTwo">
            <div class="row align-items-center">
                <h2>What makes Kohort mentorship unique?</h2>

                <div class="col-lg-4 col-md-12">
                    <div>
                        <img src="../assets/img/meetup7.png" alt="">
                    </div>
                    <div>
                        <h4>Reason 1</h4>
                        <p> Join meetups, find support, share knowledge, grow together and explore your passion. Join meetups.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div>
                        <img src="../assets/img/meetup8.png" alt="">
                    </div>
                    <div>
                        <h4>Reason 2</h4>
                        <p> Join meetups, find support, share knowledge, grow together and explore your passion. Join meetups.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div>
                        <img src="../assets/img/meetup9.png" alt="">
                    </div>
                    <div>
                        <h4>Reason 3</h4>
                        <p> Join meetups, find support, share knowledge, grow together and explore your passion. Join meetups.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="advisor-area pt-100 pb-70">

    <div class="container">
        <div class="courses-area-contentThree">
            <h2>Explore our Mentors </h2>
        </div>

        <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-6" *ngFor="let mentor of topMentors | slice:0:show; let i=index">
              <!-- <a href="#" class="span-tag tag">{{ mentor.name }}</a> -->
              <div class="single-advisor-item">
                  <div class="advisor-image">
                      <img src="assets/img/advisor/img4.jpg" alt="image" routerLink="/profile/{{mentor.id}}">
                      <ul class="social-link">
                          <li *ngIf="mentor.facebook"><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                          <li *ngIf="mentor.twitter"><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                          <li *ngIf="mentor.instagram"><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                          <li *ngIf="mentor.website"><a href="#" class="d-block" target="_blank"><i class='bx bxl-edge'></i></a></li>
                      </ul>
                  </div>
                  <div class="advisor-content">
                      <span>{{ mentor.achievement }}</span>
                  </div>
              </div>
          </div>
          <div class="explore">
              <a style="cursor: grab;" *ngIf="show < topMentors && topMentors.length" (click)="increaseShow()">Explore Mentors</a>
          </div>
        </div>
    </div>
</div>

<div class="experience-area ptb-100 ">
    <div class="get-instant-courses-area-two bg-f9fbff">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="get-instant-courses-content-style-two">
                        <!-- <span class="sub-title">GET INSTANT ACCESS TO THE FREE</span> -->
                        <h2>Join our Team
                            <br />Be a part of our story
                        </h2>
                        <!-- <p>Being a Student Ambassador will not only challenge you professionally, but it will also upskill you while having fun!.</p> -->
                        <div class="abc" style="margin-top: 50px;">
                            <a href="https://biw67j0f3gs.typeform.com/to/yRHaixuI?typeform-source=kohort.in" class="default-btn" target="_blank">Become a Mentor </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12" style="padding: 25px;">
                    <div>
                        <div class="banner-image">
                            <img src="../assets/img/meetup18.png" alt="image">
                        </div>

                        <!-- <div class="banner-shape8"><img src="assets/img/banner-shape8.png" alt="image"></div>
                      <div class="banner-shape9"><img src="assets/img/banner-shape9.png" alt="image"></div>
                      <div class="banner-shape10"><img src="assets/img/banner-shape10.png" alt="image"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area pb-100">
    <div class="container">
        <div class="experience-content1">
            <h2>From the Kohort community </h2>
            <p>With Kohort your growth always comes first.</p>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-6" *ngFor="let testMonila of testiMonialList">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a class="d-block">
                            <img src="assets/img/advisor/img5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <h4>{{testMonila.name}}</h4>
                        <h6>{{testMonila.specialties}}</h6>
                        <p>{{testMonila.bio}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
