// @import "../../../../get-instant-courses/get-instant-courses.component.scss";
@import "src/app/components/common/courses/courses.component.scss";
@import "src/app/components/common/experience/experience.component.scss";
@import "src/app/components/common/instructor/instructor.component.scss";
@import "src/app/components/common/get-instant-courses/get-instant-courses.component.scss";
.experience-content span{
  width: 768.94px;
      height: 174px;
      left: 190px;
      top: 206.3px;
      font-family: Gosha Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 84px;
      line-height: 104%;
      // color: #151B24;
}
.experience-content h2{
  // width: 768.94px;
      height: 174px;
      left: 190px;
      top: 206.3px;
      font-family: Gosha Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 84px;
      line-height: 104%;
      color: #151B24;
}
.experience-content1 h2{
  // width: 768.94px;
      // height: 50px;
      left: 190px;
      top: 206.3px;
      font-family: Gosha Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 104%;
      color: #151B24;
}

.post-image img{
  height: 238.80477905273438px;
width: 158.7069091796875px;
left: 0.7744140625px;
top: 0.8779296875px;
border-radius: 0px;

}
.courses-area-contentTwo h2{

  /* Desktop/Headline2 */

font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 125%;
/* identical to box height, or 50px */
text-align: center;


/* main/primary */
margin-bottom: 50px;
color: #4264FB;

}
.post-content h4{
  font-family: Gosha Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 124%;
      color: #4264FB;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 2px 0px;
}

.post-content h6
{
  font-family: Silka;
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #222222;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 2px 0px;

}
.post-content p
{
  font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #565656;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px 0px;

}
.courses-area-contentThree h2{

  /* Desktop/Headline2 */

font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 125%;
/* identical to box height, or 50px */



/* main/primary */
margin-bottom: 30px;
color: #4264FB;

}
.courses-area-contentTwo h4{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 135%;
  /* identical to box height, or 41px */

  text-align: center;
margin-top: 20px;
  /* main/tertiary */

  color: #151B24;


}
.courses-area-contentTwo p{
  font-family: Silka;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;


  color: #151B24;


text-align: left;

}
.single-advisor-item {
    margin-bottom: 30px;
    border-radius: 5px 5px 0 0;
    background-color: var(--whiteColor);
    box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.1);
    text-align: center;

    .advisor-image {
        border-radius: 5px 5px 0 0;
        position: relative;

        img {
            border-radius: 5px 5px 0 0;
        }
        .social-link {
            padding-left: 0;
            list-style-type: none;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 15px;
            margin: {
                left: auto;
                right: auto;
                bottom: 0;
            };
            li {
                display: inline-block;
                transform: translateY(30px);
                transition: all 0.3s ease-in-out 0s;
                opacity: 0;
                visibility: hidden;
                margin: {
                    left: 3px;
                    right: 3px;
                };
                a {
                    display: block;
                    width: 33px;
                    height: 33px;
                    background-color: var(--whiteColor);
                    text-align: center;
                    position: relative;
                    font-size: 20px;
                    color: var(--blackColor);
                    border-radius: 2px;
                    transition: var(--transition);

                    i {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        margin: {
                            left: auto;
                            right: auto;
                        };
                    }
                    &:hover {
                        color: var(--whiteColor);
                        background-color: var(--mainColor);
                    }
                }
                &:nth-child(1) {
                    transition-delay: 0.1s;
                }
                &:nth-child(2) {
                    transition-delay: 0.2s;
                }
                &:nth-child(3) {
                    transition-delay: 0.3s;
                }
                &:nth-child(4) {
                    transition-delay: 0.4s;
                }
            }
        }
    }
    .advisor-content {
        padding: 10px;
        background: #1E2229;

        h3 {
            margin-bottom: 0;
            font: {
                size: 23px;
                weight: 800;
            };
        }
        span {
          font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 150%;
/* or 19px */


color: #FFFFFF;
        }
    }
    &:hover {
        .advisor-image {
            .social-link {
                li {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.courses-area-contentTwo{
  text-align: center;
}

.default-btn {
  height: 60px;
  width: 340px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  // display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #4264FB;
  margin-top: 100px;
}

.experience-content h4{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 112%;
  /* or 40px */

  display: flex;
  align-items: center;

  color: #4264FB;

}


.get-instant-courses-content-style-two h2{
    /* height: 50px; */
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    color: #FFFFFF;
}

p{
  // width: 519.71px;
  // height: 67.66px;
  left: 192.06px;
  top: 403.76px;

  font-family: Silka;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */


  /* main/tertiary */

  color: #151B24;


}
.about-area {
    position: relative;
    z-index: 1;
}

h3{
  font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 125%;
/* identical to box height, or 50px */


/* main/tertiary */

color: #151B24;

}

.about h5{
  font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 50px;
}
.about p
{
margin-top: 20px;
font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 100%;
/* or 22px */

display: flex;
align-items: center;

color: #000000;

}
.about span{
   color:#4264FB;
   margin-left: 10px;
}

.about-content li{
  font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 20.8931px;
line-height: 27px;

color: #000000;
}

.about-content1 p{
font-family: Silka;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.about-content1 h6{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.about-content1 h3
{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  /* or 50px */
margin-bottom: 50px;
color: #020000;
}
.experience-content1 h4{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  /* or 50px */


  /* main/tertiary */

  color: #151B24;

}

.experience-content1 p
{
  font-family: Silka;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 35px;
letter-spacing: 0px;
text-align: left;

}
button[_ngcontent-xtx-c146] {
    margin-top: 22px;
    border: none;
    /* display: block; */
    text-align: center;
    overflow: hidden;
    background: #F854F8;
    // transition: var(--transition);
    border-radius: 5px;
    padding: 14.5px 80px;
    font-weight: 400;
    font-size: var(--fontSize);
    font-family: Gosha Sans;
font-style: normal;
font-size: 15px;
line-height: 150%;
/* or 30px */
align-items: center;
text-align: center;
color: #FFFFFF;
}


// .about-image {
//     overflow: hidden;
//     text-align: center;
//     margin-bottom: 250px;
// }
.single-courses-box{
text-align: center;
}

.about-content2 h4{
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 34.3396px;
line-height: 40px;
/* identical to box height */


color: #000000;
}

.about-content2 li
{
  font-family: Silka;
font-style: normal;
font-weight: normal;
font-size: 20.8931px;
line-height: 27px;

color: #000000;

}
.about-image {
    overflow: hidden;
    text-align: center;

    .row {
        margin: {
            left: -5px;
            right: -5px;
        };
        .col-lg-6 {
            padding: {
                left: 5px;
                right: 5px;
            };
            &:nth-child(3) {
                .image {
                    margin-top: -15px;
                }
            }
            &:nth-child(2) {
                .image {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.about-content {
    padding-left: 15px;

    .sub-title {
        display: block;
        text-transform: uppercase;
        color: var(--mainColor);
        margin-bottom: 10px;
        font: {
            size: 14px;
            weight: 600;
        };
    }
    h2 {
        margin: {
            bottom: 15px;
        };
        font: {
            size: 36px;
            weight: 800;
        };
    }
    h4{
      font-family: Gosha Sans;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 125%;
/* or 50px */


/* main/primary */

color: #4264FB;

    }
    .features-list {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: {
            bottom: 0;
            top: -5px;
            left: -8px;
            right: -8px;
        };
        li {
            flex: 0 0 50%;
            max-width: 50%;
            padding: {
                left: 8px;
                right: 8px;
                top: 16px;
            };
            span {
                display: block;
                position: relative;
                color: var(--blackColor);
                font: {
                    size: 18px;
                    weight: 700;
                };
                padding: {
                    left: 50px;
                    top: 5px;
                    bottom: 5px;
                };
                i {
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    text-align: center;
                    font-weight: 500;
                    line-height: 40px;
                    color: var(--mainColor);
                    font-size: 25px;
                    background: {
                        image: url(../../../../assets/img/circle-border.png);
                        position: center center;
                        repeat: no-repeat;
                        size: cover;
                    };
                }
            }
        }
    }
    .default-btn {
        margin-top: 30px;
    }
}


@media only screen and (max-width: 767px) {

  .experience-content span{
     width: 768.94px;
         height: 174px;
        left: 190px;
        top: 206.3px;
        font-family: Gosha Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 104%;
        // color: #151B24;
  }
  .experience-content h2{
    // width: 768.94px;
        // height: 174px;
        left: 190px;
        top: 206.3px;
        font-family: Gosha Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 104%;
        color: #151B24;
  }
  .experience-content1 h2{
    // width: 768.94px;
        // height: 50px;
        left: 190px;
        top: 206.3px;
        font-family: Gosha Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 104%;
        color: #151B24;
  }


    .about-image {
          margin-bottom: 250px;
        .row {
            .col-lg-6 {
                &:nth-child(3) {
                    .image {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .about-content {
        padding-left: 0;
        text-align: center;
        margin-top: 30px;

        .sub-title {
            font-size: 12.5px;
        }
        h2 {
            font-size: 25px;
        }
        .features-list {
            margin-top: -10px;

            li {
                span {
                    font-size: 16px;
                    padding: {
                        left: 0;
                        top: 0;
                        bottom: 0;
                    };
                    i {
                        position: relative;
                        left: 0;
                        top: 0;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 20px;
                        display: block;
                        margin: 0 auto 5px;
                    }
                }
            }
        }
        .default-btn {
            margin-top: 25px;
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .about-content {
        .about-list {
            li {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .about-image {
      margin-bottom: 250px;
        .image {
            img {
                width: 100%;
            }
        }
    }
    .about-content {
        text-align: center;
        margin-top: 30px;

        .sub-title {
            font-size: 13.5px;
        }
        h2 {
            font-size: 30px;
        }
        .features-list {
            li {
                flex: 0 0 25%;
                max-width: 25%;

                span {
                    font-size: 16px;
                    padding: {
                        left: 0;
                        top: 0;
                        bottom: 0;
                    };
                    i {
                        position: relative;
                        top: 0;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 20px;
                        display: block;
                        margin: {
                            left: auto;
                            right: auto;
                            bottom: 10px;
                        };
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .about-content {
        h2 {
            font-size: 30px;
        }
        .features-list {
            li {
                span {
                    font-size: 17px;
                }
            }
        }
    }

    .experience-content span{
       width: 768.94px;
           height: 174px;
          left: 190px;
          top: 206.3px;
          font-family: Gosha Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 70px;
          line-height: 104%;
          // color: #151B24;
    }
    .experience-content h2{
      // width: 768.94px;
          // height: 174px;
          left: 190px;
          top: 206.3px;
          font-family: Gosha Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 70px;
          line-height: 104%;
          color: #151B24;
    }
    .experience-content1 h2{
      // width: 768.94px;
          height: 50px;
          left: 190px;
          top: 206.3px;
          font-family: Gosha Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 104%;
          color: #151B24;
    }


}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}


.get-instant-courses-content-style-two
{
  default-btn {
    margin-top: 75px;
    background: #FFFFFF;
    color: #4264FB;
    height: 60px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    left: 0%;
    right: 0%;
    top: 19%;
    bottom: 21%;
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #4264FB;
}
}
